<!-- This example requires Tailwind CSS v2.0+ -->
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <!--
        Background overlay, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
        <div class="fixed inset-0 bg-gray-800 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

        <!--
        Modal panel, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
        <div class="inline-block align-bottom bg-white dark:bg-slate-900 rounded-lg p-10 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-10">
            <div>
                <div class="text-center">
                    <h3 class="text-2xl leading-6 font-semibold text-gray-900 dark:text-white" id="modal-title">Add new API</h3>

                    <div class="flex flex-col items-center w-full mt-8 gap-4">
                        <div class="flex flex-col items-start text-left">
                            <label for="message" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Encryption Message</label>
                            <div class="mt-2">
                                <input [(ngModel)]="message" type="text" name="message" id="message" class="h-12 dark:text-gray-300 bg-slate-700 shadow focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-base border-slate-700 rounded-xl" placeholder="secure-passphrase">
                            </div>
                        </div>
                        <div class="flex flex-col items-start text-left">
                            <label for="api_url" class="block text-sm font-medium text-gray-700 dark:text-gray-400">API URL</label>
                            <div class="mt-2">
                                <input [(ngModel)]="api_url" type="text" name="api_url" id="api_url" class="h-12 dark:text-gray-300 bg-slate-700 shadow focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-base border-slate-700 rounded-xl" placeholder="https://example.com/api/">
                            </div>
                        </div>
                        <button (click)="addAPI()" type="button" class="mt-4 justify-center rounded-xl border border-transparent shadow-sm px-6 py-3 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 sm:col-start-2 sm:text-sm">Add API</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="loading"></app-loader>